@keyframes fadein{
from {opacity : 0;}
to {opacity : 1;}
}

body.main {
	animation-name: fadein;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: 1;
}
